body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: radial-gradient(50% 50% at 50% 50%, #273756 0%, #202739 100%);
    color: #FFFFFF;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    max-height: 832px;
}

.options {
    position: absolute;
    width: 20%;
    height: 100%;
    background: linear-gradient(0deg, #293B5B -60.78%, #121F32 100%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 20px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 96px;
    height: 126px;
}

.logo-text {
    font-family: 'Racing Sans One';
    font-size: 20px;
    margin-top: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    margin: 20px 0;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #121F32;
}

.menu-item .icon {
    width: 30px;
    height: 28px;
    margin-right: 10px;
}

.header {
    text-align: center;
    padding-top: 40px;
}

.header h1 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
}

.header p {
    font-size: 20px;
    font-weight: 300;
}

.header img {
    width: 225px;
    height: 263px;
    margin-top: 20px;
}

.rotation {
    position: fixed; /* Altere para fixed para que o elemento flutue */
    bottom: 5px; /* Distância do rodapé, ajuste conforme necessário */
    right: 120px; /* Distância da borda direita, ajuste conforme necessário */
    width: auto;
    height: auto;
    display: flex;
    background: linear-gradient(0deg, #293B5B -60.78%, #121F32 100%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    z-index: 1;
}

.rotation-cards {
    justify-content: space-around;
    display: flex;
    flex-direction: row; /* Para organizar o conteúdo em linha */
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.badge-container {
    position: relative;
    display: inline-block;
    text-align: center; /* Centraliza o conteúdo */
}

.badge-img {
    width: 301px;
    height: 176px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    z-index: 0;
    cursor: pointer; /* Muda o cursor para indicar um link */
}

.tooltip {
    position: absolute;
    top: 0;
    left: 0;
    width: 94%;
    height: 87%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    flex-direction: column; /* Para organizar o conteúdo em coluna */
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    text-align: center;
}

.tooltip .copy-icon {
    margin-top: 5px;
    margin-bottom: 5px;
}

.badge-container:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.copy-icon, .wiki-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-size: 20px;
    background-repeat: no-repeat;
    border: none;
}

.copy-icon {
    background-image: url('assets/copy.png');
    background-color: #919191a9;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.copy-icon:hover {
    background-color: rgb(53, 53, 53);
}

.copy-icon:active {
    background-color: rgb(14, 14, 14);
}

.wiki-button {
    background-color: #a400aa;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.wiki-button:hover {
    background-color: #6b0059;
    transform: scale(1.05);
}

.wiki-button:active {
    background-color: #2d003f;
}